<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <nav aria-label="breadcrumb"> <!-- 1 -->
        <ol class="breadcrumb p-1 pl-2 pr-2">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/page">Book</a></li>
          <li class="breadcrumb-item active" aria-current="page">New Book</li>
        </ol>
      </nav>

      <form action="/book" method="post">

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" value="" class="form-control">
        </div>
        <div class="form-group">
          <label for="title">author</label>
          <input type="text" id="author" name="author" value="" class="form-control">
        </div>
        <div class="form-group">
          <label for="contents">Body</label>
          <textarea id="contents" name="contents" rows="5" class="form-control"></textarea>
        </div>
        
        <div>
          <a class="btn btn-primary" href="/book">Back</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>

    </div>
  </body>
</html>